In [1]:
import pandas as pd

In [6]:
dados = pd.read_html('http://www.ipeadata.gov.br/ExibeSerie.aspx?module=m&serid=1650971490&oper=view', decimal=',', thousands='.')

In [7]:
dados[2] = dados[2].loc[1:]

In [8]:
dados = pd.DataFrame(dados[2])

In [9]:
dados[0] = pd.to_datetime(dados[0], format='%d/%m/%Y')
dados

               0      1
1     2024-11-18  74.35
2     2024-11-15  73.45
3     2024-11-14  73.39
4     2024-11-13  72.86
5     2024-11-12  72.56
...          ...    ...
11298 1987-05-26  18.63
11299 1987-05-25  18.60
11300 1987-05-22  18.55
11301 1987-05-21  18.45
11302 1987-05-20  18.63

[11302 rows x 2 columns]

In [10]:
dados.rename(columns={0: 'data', 1: 'preco'}, inplace=True)

In [11]:
dados['preco'] = dados['preco'].str.replace('.', ',')

In [12]:
dados.to_csv('dados.csv', sep=';', encoding='utf-8')